/*
declaration block::

selectro{
    property: value;
    property2: value; 
}
*/

body{
    background-color: rgb(1, 1, 130);
    color: rgb(186, 182, 182);
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 400px;
}

h1{
    text-align: center;
}